
{% extends "social_n/base.html" %}
{% load static argonauts %}
{% load render_bundle from webpack_loader %}

{% load widget_tweaks %}
{% load static %}

{% block js %}
    <script src="//cdn.jsdelivr.net/sockjs/1.0/sockjs.min.js" type="text/javascript"></script>
    <script src="{% static 'js/centrifuge.js' %}"></script>
{% endblock %}

{% block title %}
{%  endblock %}

{%  block content %}

{% if  user.is_authenticated %}

  <div id="container" class="container"
        data-cent-url="{{ CENTRIFUGE_SOCKJS_ENDPOINT }}"
        data-cent-user="{{ CENTRIFUGE_USER }}"
        data-cent-ts="{{ CENTRIFUGE_TIMESTAMP }}"
        data-cent-info="{{ CENTRIFUGE_INFO }}"
        data-cent-token="{{ CENTRIFUGE_TOKEN }}"
  ></div>
    {% csrf_token %}
    {% render_bundle 'messages' %}

{% else %}

    <p> Sorry, only authorized users are able to view this page </p>

{% endif %}


{% endblock %}

{% block sidecont %}



{% endblock %}

